.main {
    background-image: linear-gradient(rgb(191, 185, 185), rgb(80, 74, 74));
    overflow: auto;
}
.container {
    display: flex;
    justify-content: space-between;
    top: 0;
    background-image: linear-gradient(rgb(191, 185, 185), rgb(155, 153, 153));
}

.logo {
    font-size: 30px;
    padding: 10px;
}
.logo-name {
    text-decoration: none;
}
.user {
    display: flex;
}
.user-msg {
    padding: 20px;
    font-size: 18px;
}
.navigate {
    padding: 20px;
    margin: 0px 100px;
}

.main-a {
    margin: 0px 20px;
    text-decoration: none;
}
.content {
    height: 100vh;
}

.janitor-list {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.head-title {
    padding-top: 40px;
    justify-content: center;
    text-align: center;
}