.container {
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    top: 0;
    position: sticky;
}

.logo {
    font-size: 30px;
    padding: 10px;
}
.logo-name {
    text-decoration: none;
}
.user {
    display: flex;
}
.user-msg {
    padding: 20px;
    font-size: 18px;
}
.navigate {
    padding: 20px;
    margin: 0px 100px;
}

.main-a {
    margin: 0px 20px;
    text-decoration: none;
}
